body {
    font-family: "Open Sans", Helvetica, sans-serif;
    color: #fff;
    font-size: 12px;
    line-height: 1.42;
    background: #17191C;
    -webkit-font-smoothing: antialiased; 
    -moz-osx-font-smoothing: grayscale; 
}

a {
    color: inherit;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    padding: 0;
    margin: 0;
}

ul li {
    list-style: none;
}

h1, h2, h3, h4 {
    margin: 0;
    font-weight: normal;
}

p {
    margin-top: 0;
}

* { 
    box-sizing:border-box;
}

.main-page-wrapper {
    background: url("img/main1.png") top center, url("img/main2.png") bottom 120px center, #17191C;
    background-repeat: no-repeat;
    background-size: contain;
    background-blend-mode: luminosity;
}

.container {
    margin: 0 auto;
    width: 1142px; 
}

.header {
    height: 129px;
    position: relative;
    margin-bottom: 80px;
}

.logo {
    display: block;
    position: absolute;
    top: 34px;
    left: 0;
}

.menu {
    position: absolute;
    top: 40px; 
    left: 425px;
}

.contacts {
    position: absolute;
    top: 34px; 
    right: 20px;
}

.contacts__desc {
    color: #9A9A9A;
    font-size: 13px;
}

.menu__item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 69px;
}

.menu__link {
    font-size: 14px;
    text-decoration: none;
}

.menu__link:hover {
    color: #8F00FF;
}

.contacts {
    font-style: normal;
    text-align: right;
    right: 0px;
    top: 26.64px;
}

.contacts__phone {
    text-decoration: none;
    font-size: 26px;
    margin-bottom: 4px;
}

.contacts__dropdown-title {
    font-size: 13px;
    text-decoration: underline;
}

.hero__text-section {
    width: 637px;
    margin-bottom: 210px;
}

.hero__title {
    font-size: 60px;
    font-weight: bold;
    line-height: 1.1;
    margin-bottom: 18px;
}

.hero__subtitle {
    font-size: 21px;   
    margin-bottom: 90px; 
}

.btn {
    background: #8F00FF;
    border-radius: 5px;
    padding: 18px 40px;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase; 
    text-decoration: none;
}

.btn:hover {
    background: #741BBA;
}

.btn--color--white {
    background: #fff;
    border: 1px solid #8F00FF;
    border-radius: 5px;
    color: #8F00FF;
}

.news {
    margin-bottom: 120px;
}

.news__title {
    display: inline-block;
    vertical-align: middle;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 30px;  
}

.news__subtitle {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 22px;
}
.news__item {
    min-height: 360px;
    background: #fff;
    border-radius: 4px;
    display: inline-block;
    margin-right: 27px;
    width: 360px;
}

.news__item:last-child {
    margin-right: 0;
}

.news__header {
    min-height: 140px;
    margin-bottom: 0px;
    height: 144px;
}

.news__content {
    padding: 22px 23px 45px;
    color: #000;
}

.news__header-img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.news__about-block {
    display: inline-block;
    font-size: 16px;
    margin-bottom: 25px;
    vertical-align: middle;
}

.news__about-min {
margin-right: 20px;
vertical-align: middle;
}

.news__about-question {
    vertical-align: middle;
}

.news__about-desc {
    width: 300px;
    font-size: 14px;
    margin-bottom: 45px;
}

.past-games__title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 46px;
}

.games__item {
    width: 555px;
    display: inline-block;
    margin-right: 21px;
    vertical-align: top;
    position: relative;
    border-radius: 4px;
    overflow: hidden;
    margin-bottom: 57.5px;
}

.games__item:last-child {
    margin-right: 0;
}

.games__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.games__text-content {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0px 30px 20px;
    min-height: 120px;
}

.games__title {
    font-size: 24px;
    font-weight: bold;
}

.games__date {
    font-size: 14px;
}

.games__about {
    font-size: 16px;
    margin-bottom: 0px;
}

.paginator {
    text-align: center;
    margin-bottom: 161px;    
}

.paginator__display, .paginator__list {
    display: inline-block;
    vertical-align: middle;
}

.paginator__display {
    font-size: 16px;
    margin-right: 36px;
}

.paginator__list {
    font-size: 16px;
    margin-right: 36px;
}

.paginator__item {
    display: inline-block;
    vertical-align: middle;
}

.paginator__item--active .paginator__link {
    background: #8F00FF;
}

.paginator__link {
    display: block;
    width: 23px;
    height: 23px;
    border-radius: 50%;
    position: relative;
    text-decoration: none;
    font-weight: bold;
    line-height: 23px;
}

.about-us {
    margin-bottom: 58px;
}

.about:before, .about__desc {
    display: inline-block;
    vertical-align: top;
}

.about:before {
    content: "";
    display: inline-block;
    vertical-align: top;
    width: 490px;
    height: 505px;
    border-radius: 3px;
    background: url("img/about.png") center center / cover no-repeat;
}

.about__desc {
    background: linear-gradient(71.43deg, #8F00FF 0%, #148CFF 100%), #212121;
    display: inline-block;
    padding: 70px 80px;
    width: 780px;
    margin-left: -140px;
    margin-top: 90px;
    border-radius: 3px;
    margin-bottom: 25px;
}

.about__title {
    font-weight: bold;
    font-size: 36px;
    margin-bottom: 37px;
}

.about__desc-text {
    margin-bottom: 90px;
    font-size: 16px;
    line-height: 1.7;
}

.about__desc-text p {
    margin-bottom: 50px;
}

.about__desc-text p:last-child {
    margin-bottom: 0;
}

.btn--gradient {
    background: none;
    border: 1px solid #fff;
    border-radius: 5px;
    color: #fff;
}   

.footer-container__content {
    border-top: 0.1px solid #ffffff;
}

.footer {
    height: 146px;
    position: relative;
}

.socials {
    top: 34px;
    left: 700px;
    position: absolute;
}

.socials__item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}

.socials__item:last-child {
    margin-right: 0;
}

.socials__link {
    display: block;
    text-decoration: none;
    width: 36px;
    height: 36px;
    background: center center no-repeat;
}

.socials__item--icon--tg .socials__link {
    background-image: url("img/telegram.png");
}

.socials__item--icon--vk .socials__link {
    background-image: url("img/vk.png");
}

.socials__item--icon--fb .socials__link {
    background-image: url("img/f.png");
}

.socials__item--icon--ig .socials__link {
    background-image: url("img/in.png");
}

.socials__item--icon--tg .socials__link:hover {
    background-image: url("img/t-hover.png");
}

.socials__item--icon--vk .socials__link:hover {
    background-image: url("img/vk-hover.png");
}

.socials__item--icon--fb .socials__link:hover {
    background-image: url("img/f2-hover.png");
}

.socials__item--icon--ig .socials__link:hover {
    background-image: url("img/in-hover.png");
}

.menu--footer {
   position: absolute;
   left: 292px;
}
