.footer-container__content {
    border-top: 0.1px solid #ffffff;
}

.footer {
    height: 146px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__col {
    display: flex;
    align-items: center;
}

.footer__col--align--right {
    justify-content: flex-end;
}

.inner-footer {
    background: #17191C;
}
