.past-games {
    margin-bottom: 50px;
}

.past-games__title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 46px;
}

.games__list {
    display: flex;
    justify-content: space-between;
}

.single-games {
    position: relative;
    border-radius: 4px;
    overflow: hidden;
}

.games__item {
    height: 396px;
    margin-right: 2%;
    flex: 1;
}

.games__item:last-child { 
    margin-right: 0;
}

.single-games__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.single-games__text-content {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 20px 25px;
    min-height: 160px;
}

.single-games__title {
    font-size: 24px;
    font-weight: bold;
}

.single-games__date {
    font-size: 14px;
    text-transform: lowercase;
}

.single-games__about {
    font-size: 16px;
    margin-bottom: 5px;
}