html, body {
    height: 100%;
}

body {
    font-family: "Open Sans", Helvetica, sans-serif;
    background: #000;
    color: #fff;
    font-size: 12px;
    line-height: 1.42;
    -webkit-font-smoothing: antialiased; 
    -moz-osx-font-smoothing: grayscale; 
}

.main-page-wrapper {
    background: url("img/main1.png") top center, url("img/main2.png") bottom 120px center, #17191C;
    background-repeat: no-repeat;
    background-size: contain;
    background-blend-mode: luminosity;
}