.btn {
    background: #8F00FF;
    border-radius: 5px;
    padding: 18px 40px;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase; 
    text-decoration: none;
}

.btn:hover {
    background: #741BBA;
}

.btn--color--white {
    background: #fff;
    border: 1px solid #8F00FF;
    border-radius: 5px;
    color: #8F00FF;
    padding: 16px 29px;
}

.btn--color--white:hover {
    color: #fff;
}

.btn--color--white--serv {
    background: #fff;
    border: 1px solid #8F00FF;
    border-radius: 5px;
    color: #8F00FF;
    padding: 18px 40px;
    max-width: 168px;
}

.btn--color--white--serv:hover {
    color: #fff;
}

.btn--gradient {
    background: none;
    border: 1px solid #fff;
    border-radius: 5px;
    color: #fff;
}   