.contacts {
    font-style: normal;
    text-align: right;
    right: 0px;
    top: 26.64px;
}

.contacts__desc {
    color: #9A9A9A;
    font-size: 11px;
}

.contacts__phone {
    text-decoration: none;
    font-size: 26px;
    margin-bottom: 4px;
}

.contacts__dropdown-title {
    font-size: 13px;
    text-decoration: underline;
}