.hero__text-section {
    width: 60%;
}

.hero__title {
    font-size: 60px;
    font-weight: bold;
    line-height: 1.1;
    margin-bottom: 18px;
}

.hero__subtitle {
    font-size: 21px;   
    margin-bottom: 90px; 
}