.quiz-box {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background: url("../../img/main1.png") top center, #17191C; 
    background-repeat: no-repeat;
    background-size: contain;
    background-blend-mode: luminosity;
}

.quiz-box__item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quiz-box__item.animate__bounce {
    animation: bounce 1.5s;
}

@keyframes bounce {
    0% {
        transform: translateY(0px);
        opacity: 0;
    }

    20% {
        transform: translateY(-30px);
    }

    35% {
        transform: translateY(0px);
    }

    55% {
        transform: translateY(-15px);
    }

    65% {
        transform: translateY(0px);
    }

    70% {
        transform: translateY(-4px);
    }

    80% {
        transform: translateY(0px);
    }

    100% {
        opacity: 1;
    }

}

.quiz-box__title {
   font-weight: 700;
   font-size: 72px;
   line-height: 98px;
   background: linear-gradient(87.62deg, #8F00FF -2.44%, #00A3FF 100%);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   background-clip: text;
   margin-bottom: 25px;
}