.review {
    background: #F4F5F5;
    padding: 66px 0px 62px 0px;
}

.review__title {
    font-size: 48px;
    line-height: 65px;
    color: #1A1B1E;
    font-weight: bold;
    margin-bottom: 57px;
}

